.Header{
    padding: 30px 0;
    .content{
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        .nav{
            display: flex;
            position: relative;
            gap: 20px;
            .home{
                width: 50px;
                height: 50px;
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                font-size: 28px;
                background: rgba(128, 128, 128, 0.265);
            }
            .search{
                width: 50px;
                height: 50px;
                border: none;
                font-size: 28px;
                background: none;
                position: absolute;
                right: 330px;
            }
            .review{
                width: 50px;
                height: 50px;
                border: none;
                font-size: 28px;
                background: none;
                position: absolute;
                right: 10px;
                border-left: 1px solid #f9f7f7;
            }
            input{
                width: 380px;
                height: 50px;
                border:none;
                border-radius: 20px;
                padding: 0 50px;
                background: rgba(255, 255, 255, 0.092);
            }
        }
        .Btns{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            .bell{
                width: 50px;
                height: 50px;
                border: none;
                font-size: 25px;
                background: none;
            }
            .user{
                width: 50px;
                height: 50px;
                border: none;
                font-size: 25px;
                background: none;
            }
            .registr{
                font-size: 18px;
                background: transparent;
                border: none;
            }
            .auth{
                font-size: 18px;
                width: 100px;
                height: 50px;
                border-radius: 40px;
                background: white;
                color: black;
            }
        }
        
    }
}